<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd"> -->
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.restAssured.apiAuto.LibrarySchemaValidation"/>
      <class name="com.restAssured.apiAuto.SpecBuilder"/>
      <class name="com.restAssured.apiAuto.Library"/>
      <class name="com.restAssured.apiAuto.AddNewPlace"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
